<!DOCTYPE html>
{% load static  %}
<html class="no-js">

<head>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%} " rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css'%}" rel="stylesheet" media="screen">
    <link href="{% static 'vendors/easypiechart/jquery.easy-pie-chart.css'%}" rel="stylesheet" media="screen">
    <link href="{% static 'assets/styles.css'%}" rel="stylesheet" media="screen">
    <link href="{% static 'assets/DT_bootstrap.css' %}" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static 'vendors/modernizr-2.6.2-respond-1.1.0.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'nav.html' %}
{% block content %}

{% endblock %}
</body>

</html>