{% extends 'base.html' %}
{% load static  %}
{% block title %}
Index Page
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% include 'sidebar.html' %}
        <div class="span9" id="content">
            <div class="row-fluid">
                {% for message in messages %}

                {% if message %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}

            </div>
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Statistika</div>
                        <div class="pull-right"><span class="badge badge-warning">View More</span>

                        </div>
                    </div>
                    <div class="block-content collapse in">
                        <!--Graphs-->

                        <div class="container">
                            <div class="row my-5">
                                <div class="span5">
                                <div class="col-md-6">
                                    <div class="bg-white">
                                        <canvas id="myChart1" width="400" height="300"></canvas>
                                        <script>
                                            var ctx = document.getElementById('myChart1').getContext('2d');
                                            var myChart1 = new Chart(ctx, {
                                                    type: 'pie',
                                                    data: {
                                                        labels: ['O\'ta muhim', 'Muhim', 'Odatiy'],
                                                        datasets: [{
                                                            label: 'Products',
                                                            data: [{{ om_soni }}, {{ m_soni }}, {{ o_soni }}],
                                                            backgroundColor: [
                                                                'rgba(255, 99, 132, 1)',
                                                                'rgba(54, 162, 235, 1)',
                                                                'rgba(255, 206, 86, 1)',
                                                                'rgba(75, 192, 192, 1)',
                                                                'rgba(153, 102, 255, 1)',
                                                                'rgba(255, 159, 64, 1)'
                                                            ],
                                                            borderColor: [
                                                                'rgba(255, 99, 132, 1)',
                                                                'rgba(54, 162, 235, 1)',
                                                                'rgba(255, 206, 86, 1)',
                                                                'rgba(75, 192, 192, 1)',
                                                                'rgba(153, 102, 255, 1)',
                                                                'rgba(255, 159, 64, 1)'
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                })
                                            ;
                                        </script>
                                    </div>
                                </div>
                                </div>
                                <div class="span2">
                                    &nbsp;
                                </div>
                                <div class="span5">
                                <div class="col-md-6">
                                    <div class="bg-white">
                                        <canvas id="myChart" width="400" height="300"></canvas>
                                        <script>
                                            var ctx = document.getElementById('myChart').getContext('2d');
                                            var myChart = new Chart(ctx, {
                                                    type: 'bar',
                                                    data: {
                                                        labels: [{% for hodim in hodimlar %} '{{hodim.username}}', {% endfor %}],
                                                        datasets: [{
                                                            label: 'Hodimlar',
                                                            data: [{{admin_soni}}, {{alisher_soni}}],
                                                            backgroundColor: [
                                                                'rgba(255, 99, 132, 1)',
                                                                'rgba(54, 162, 235, 1)',
                                                                'rgba(255, 206, 86, 1)',
                                                                'rgba(75, 192, 192, 1)',
                                                                'rgba(153, 102, 255, 1)',
                                                                'rgba(255, 159, 64, 1)'
                                                            ],
                                                            borderColor: [
                                                                'rgba(255, 99, 132, 1)',
                                                                'rgba(54, 162, 235, 1)',
                                                                'rgba(255, 206, 86, 1)',
                                                                'rgba(75, 192, 192, 1)',
                                                                'rgba(153, 102, 255, 1)',
                                                                'rgba(255, 159, 64, 1)'
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                })
                                            ;
                                        </script>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!--End Graphs-->
                    </div>
                </div>
                <!-- /block -->
            </div>
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Topshiriqlar jadvali</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="table-toolbar">
                                <div class="btn-group">
                                    <a href="{% url 'add-task'%}">
                                        <button class="btn btn-success" type="button">Yangi
                                            <i class="icon-plus icon-white"></i></button>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button data-toggle="dropdown" class="btn dropdown-toggle">Tools <span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Chop etish</a></li>
                                        <li><a href="#">Saqlash PDF</a></li>
                                        <li><a href="#">Export Excel</a></li>
                                    </ul>
                                </div>
                            </div>

                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                                   id="example2">
                                <thead>
                                <tr>
                                    <th>Topshiriq raqami</th>
                                    <th>Topshiriq turi</th>
                                    <th>Qisqacha mazmun</th>
                                    <th>Holat</th>
                                    <th>Prioritet</th>
                                    <th>Registratsiya sanasi</th>
                                    <th>Muddat</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for topshiriq in topshiriqlar %}
                                <tr class="odd gradeX">
                                    <td><a href="{% url 'dash-detail' topshiriq.id%}">{{topshiriq.topshiriq_raqami}}</a>
                                    </td>
                                    <td> {{topshiriq.topshiriq_turi}}</td>
                                    <td><a href="{% url 'dash-detail' topshiriq.id%}">{{topshiriq.qisqacha_mazmun}}</a>
                                    </td>
                                    <td> {{topshiriq.holat}}</td>
                                    <td class="center">
                                        {% if topshiriq.prioritet == "Muhim" %}
                                        <span class="label label-warning">{{topshiriq.prioritet}}</span>
                                        {% elif topshiriq.prioritet == "O'ta muhim"%}
                                        <span class="label label-important">{{topshiriq.prioritet}}</span>
                                        {% else %}
                                        <span class="label label-info">{{topshiriq.prioritet}}</span>
                                        {% endif %}


                                    </td>
                                    <td class="center"> {{topshiriq.reg_date}}</td>
                                    <td class="center"> {{topshiriq.muddat|timeuntil}}</td>
                                    <td class="center">
                                        <a href="{% url 'dash-update' topshiriq.id%}">
                                            <button class="btn btn-primary btn-mini"><i
                                                    class="icon-pencil icon-white"></i></button>
                                        </a>
                                        <a href="{% url 'dash-delete' topshiriq.id%}">
                                            <button class="btn btn-danger btn-mini"><i
                                                    class="icon-trash icon-white"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>

    </div>
    <hr>
    <footer align="center">
        <p>&copy; FX 2021</p>
    </footer>
</div>
<!--/.fluid-container-->
<script src="{% static 'vendors/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/easypiechart/jquery.easy-pie-chart.js'%}"></script>
<script src="{% static 'assets/scripts.js' %}"></script>
<script src="{% static 'vendors/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/DT_bootstrap.js' %}"></script>

<script>
    $(function () {
        // Easy pie charts
        $('.chart').easyPieChart({animate: 1000});
    });
</script>
<script>
    $(function () {

    });
</script>

{% endblock %}


